VOYAGE_API_KEY=your-voyage-api-key
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
MONGODB_DB=image_search
MONGODB_COLLECTION=images
VECTOR_INDEX_NAME=vector_index
VOYAGE_MODEL=voyage-multimodal-3
EMBEDDING_DIM=1024
